* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow:hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

html,body{
  margin:0;
  height:100%;
  overflow:hidden;
  background-color: #000000;

  /*Se liga só no nome da cor*/
  color: #BABACA;
}

#centralizador {
  overflow:hidden;
  min-height:100%;
  min-width:100%;
  height:auto;
  width:auto;
  position:absolute;
  top:-100%; bottom:-100%;
  left:-100%; right:-100%;
  margin:auto;
}

canvas {
  overflow:hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}